:root{
    --teal: #368360;
}

body{
    color: white;
    background-color: black;
}

.hello{
    font-size: 50px;
    color: var(--teal);
    vertical-align: end;
}
h1{
    font-size: 100px;
}
.landing{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 250px;
    height: 250px;
}

@media only screen and (max-width: 600px){
.landing{
    flex-direction: column;
}
h1{
    font-size: 50wh;
}
.hello{
    font-size: 100wh;
}
}